@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f3e8;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


#range .range-slider__thumb {
  background-color: white;
  border: 1px solid #000000;
  width: 15px;
  height: 15px;
}

#range .range-slider__range {
  background-color: #000000;
  height: 3px;
}

#range .range-slider {
  height: 3px;
}

body {
  position: static;
  top: 0px !important;
}

.swiper-scrollbar.swiper-scrollbar-vertical {
  width: 10px !important;
}

.swiper-scrollbar.swiper-scrollbar-vertical .swiper-scrollbar-drag {
  width: 10px !important;
}